SECRET_KEY=troque-esta-chave
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost
CSRF_TRUSTED_ORIGINS=http://127.0.0.1,http://localhost
TIME_ZONE=America/Cuiaba
DATABASE_URL=sqlite:///db.sqlite3
DB_SSL_REQUIRE=False
STRIPE_PUBLIC_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_PRICE_ID=
ASAAS_API_KEY=
ASAAS_BASE_URL=https://sandbox.asaas.com/api/v3
ASAAS_WEBHOOK_TOKEN=

# Precificacao da licenca
SALARIO_MINIMO_VIGENTE=1621.00
LICENCA_PERCENTUAL_SALARIO_MINIMO=0.29
LICENCA_DESCONTO_ANUAL=0.08

# Stripe Prices (2 planos)
STRIPE_PRICE_ID_SEMESTRAL=
STRIPE_PRICE_ID_ANUAL=
